 <%- include("includes/head.ejs") %>
<body>
    <h1>THIS IS HOME PAGE 1*2</h1>
    <h3> <%= ["deepak","amit","ridhav"] [0] %></h3>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque iure facere repellendus, doloremque placeat excepturi fuga nisi maxime saepe, eos, aliquid accusamus officia. Tenetur temporibus porro atque aliquid doloremque deleniti qui itaque suscipit, distinctio esse. Quam unde nisi non est ad placeat voluptatum vel.

    <%- include("includes/footer.ejs") %>
</body>
</html>